@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

::selection {
  background:rgb(234, 179, 8);
  color: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'geistSans', 'geistSans Fallback', sans-serif;
  background-image: url(/img/bg/img-noise-361x370.png);
}

.site-header {
  backdrop-filter: blur(15px);
  mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
}